
@import "@ionic/angular/css/core.css";
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";
@import "@ionic/angular/css/palettes/dark.system.css";
body.keyboard-is-open,
body.ion-keyboard-is-open {
  .bottom-vector-container,
  .bottom-wave-container,
  ion-tab-bar {
    display: none !important;
  }
}
.top-vector-container {
  overflow: hidden;
  background-color: #26366C; 
  padding-top: var(--ion-safe-area-top, 0px);
  .custom-header {
    top: var(--ion-safe-area-top, 0px) !important;
  }
  svg {
    margin-top: -12px !important; 
  }
}
.bottom-vector-container {
  overflow: hidden;
  svg {
    margin-bottom: -15px !important; 
  }
}
.bottom-wave-container {
  overflow: hidden;
  svg {
    margin-bottom: -15px !important;
  }
}
